<h1>Lista de todos los articulos</h1>
 
<table>
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>Text</th>
    <th>Action</th>
    <th colspan="2"></th>
  </tr>
 
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.id %></td>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <td><%= link_to 'Show', article_path(article) %></td>
      <td><%= link_to 'Edit', edit_article_path(article) %></td>
    </tr>
  <% end %>
</table>
<br>
<%= link_to 'Nuevo articulo', new_article_path %>