<h3> Detalle del articulo</h3>
<p><strong>Title: </strong></p>
<p><%=@article.title %></p>

<p><strong>Text: </strong></p>
<p><%= @article.text %></p>

<h2>Commentarios</h2>
<%= render @article.comments %>

<h2>Añadir un comentario:</h2>
<%= render 'comments/form' %>

<%= link_to 'Editar', edit_article_path(@article) %> |
<%= link_to 'Atras', articles_path %>